.modal-popup {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: -100px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    height: 130vh;
    width: 100%;
    pointer-events: all;
  }
  
  .modal-show {
    width: 900px;
    border-radius: 14px;
    background-color: skyblue;
    margin: 120px 650px auto;
    pointer-events: all;
    position: absolute;
    left: -360px;
    
  }
  .closeBtn {
    cursor: pointer;
    color: black;
    justify-self: end;
    margin: 20px 10px 0px 836px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: yellow;
    font-size: 30px;
    border: none;
    background-color: darkred;
  }
  .modal-popup .modal-show .logo-div {
    width: 50%;
    margin: -40px 22px;
  }
  
  .modal-popup .modal-show .logo-div .logo {
    font-size: 30px;
    font-weight: 700;
  }
  .modal-popup .modal-show .logo-div .about {
    display: flex;
    line-height: 16px;
    margin: 0px -13px;
  }
  .logo-div li {
    margin: 15px;
  }
  
  .container {
    display: flex;
    width: 95%;
    background-color: lightcyan;
    margin: 60px auto;
  }
  .container2 {
    width: 50%;
    border-radius: 10px;
    margin: 10px auto;
    background-color: lightblue;
    box-shadow: 0 0 35px lightgray;
  }
  .container2 input {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 70%;
  }
  .container2 .titlee {
    font-size: 20px;
    margin: 10px 0 4px 20px;
  }
  
  .container2 textarea {
    margin: 10px 20px;
    outline: none;
    width: 80%;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    background-color: lightgray;
  }
  
  .container2 .files{
      width: 80%;
      margin: 13px 20px;
  }
  
  .container3 {
    width: 33%;
    height: fit-content;
    padding: 20px 0;
    border-radius: 12px;
    margin: 10px auto;
    box-shadow: 0 0 30px lightgray;
  }
  .container3 .inputs2{
  margin: 10px 20px;
  width: 100%;
  
  }
  .container3 .submit{
    margin: 10px 50px auto;
    background-color: green;
    padding: 8px 20px;
    border: none;
    color: yellow;
    border-radius: 10px;
    width: 60%;
  }
  
  .container3 .amount{
    width: 70%;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 3px;
  
  }
  .logo{
      font-weight: bolder;
      color: yellow;
      
  }

 
							